# =============================================================================
# Server
# =============================================================================
SERVER_ADDR=                    # required
METRIC_SERVER_ADDR=
BASE_URL=                       # required
MAIN_SITE=                      # required
KB_BASE_URL=
JWT_SECRET=                     # required
REAL_IP_HEADERS=
TRUSTED_PROXIES=

# =============================================================================
# Rate limit
# =============================================================================
RATELIMIT_WINDOW=               # required
RATELIMIT_MAX=                  # required

# =============================================================================
# OAuth
# =============================================================================
OAUTH_ID=                       # required
OAUTH_SECRET=                   # required
OAUTH_REDIRECT_URI=             # required

# =============================================================================
# Database
# =============================================================================
DATABASE_URI=                   # required

# =============================================================================
# Bot
# =============================================================================
BOT_ID=                         # required
BOT_TOKEN=                      # required
LOG_ARCHIVER_URL=
LOG_AES_KEY=
DISCORD_PROXY_URL=
INTERACTIONS_BASE_URL=          # default: https://gateway.tickets.bot
RENDER_SERVICE_URL=
IMAGE_PROXY_SECRET=
PUBLIC_INTEGRATION_REQUEST_WEBHOOK_ID=
PUBLIC_INTEGRATION_REQUEST_WEBHOOK_TOKEN=
POWEREDBY=                      # default: tickets.bot
ICON_URL=                       # default: https://tickets.bot/assets/img/logo.png
SECURE_PROXY_URL=

# =============================================================================
# Redis
# =============================================================================
REDIS_HOST=                     # required
REDIS_PORT=                     # required
REDIS_PASSWORD=
REDIS_THREADS=                  # required

# =============================================================================
# Cache
# =============================================================================
CACHE_URI=                      # required

# =============================================================================
# Polar
# =============================================================================
POLAR_API_KEY=
POLAR_IS_SANDBOX=
POLAR_CHECKOUT_SUCCESS_URL=     # default: http://localhost:5173/premium

# =============================================================================
# Misc
# =============================================================================
OWNER=
FORCED_WHITELABEL=
DEBUG=
SENTRY_DSN=
JSON_LOGS=                      # default: false
LOG_LEVEL=                      # default: info
